[submodule "Externals/SDL"]
	path = Externals/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = release-3.2.24
[submodule "Externals/openal-soft"]
	path = Externals/openal-soft
	url = https://github.com/kcat/openal-soft.git
	branch = 1.24.3
[submodule "Externals/ogg"]
	path = Externals/ogg
	url = https://github.com/xiph/ogg.git
	branch = v1.3.6
[submodule "Externals/vorbis"]
	path = Externals/vorbis
	url = https://github.com/xiph/vorbis.git
	branch = v1.3.7
